@import "tailwindcss";

:root {
  --font-playfair: 'Playfair Display', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  cursor: none;
}

.font-playfair {
  font-family: var(--font-playfair);
}
